@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
	box-sizing: border-box;
	font-family: Lato;
}

body {
	margin: 0;
}

header {
	background: url(../img/hero.jpg);
	height: 200px;
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

nav {
	text-align: center;
	padding-top: 20px;
}

nav ul li {
	display: inline-block;
	font-family: Lato;
	font-weight: 400;
	font-size: 15px;
	padding-right: 35px;
	letter-spacing: 2px;
}

nav ul li a {
	text-decoration: none;
	color: #4d4959;
}

nav ul li a:hover {
	color: #64c29e;
	transition: 0.3s;
}

.padding-reset {
	padding: 0;
}

.relative {
	position: relative;
}

.left {
	position: absolute;
	top: 30px;
	right: 0;
}

.right {
	position: absolute;
	top: 30px;
	left: 0;
}

.about {
	background: #f7f7f7;
	height: 470px;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}

.about h1 {
	font-weight: 600;
}

.about p {
	color: #848789;
}

.work-bike-1 {
	background: url(../img/work-bike1.jpg) center center no-repeat;
	background-size: cover;
	height: 600px;
}

.work-bike-2 {
	background:  url(../img/work-bike2.jpg) center center no-repeat;
	background-size: cover;
	height: 200px;
}

.work-text {
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 35px;
}

.work-text h2 {
	font-size: 18px;
}

.work-text p {
	color: #848789;
	text-align: justify;
	font-weight: 300;
}

.work-bike-3 {
	background: url(../img/work-bike3.jpg) center center no-repeat;
	background-size: cover;
	height: 200px;
}

.work-bike-4 {
	background: url(../img/work-bike4.jpg) center center no-repeat;
	background-size: cover;
	height: 600px;
}

.work-bike-5 {
	background: url(../img/work-bike5.jpg) center center no-repeat;
	background-size: cover;
	height: 600px;
}

.work-bike-6 {
	background: url(../img/work-bike6.jpg) center center no-repeat;
	background-size: cover;
	height: 200px;
}

.work-bike-7 {
	background: url(../img/work-bike7.jpg) center center no-repeat;
	background-size: cover;
	height: 600px;
}


.bike-logo {
	background: url(../img/bike-logo.png) center center no-repeat;
	height: 100%;
	width: 100%;
}

.bike-logo2 {
	background: url(../img/bike-logo2.png) center center no-repeat;
	height: 100%;
	width: 100%;

}

.bike-logo3 {
	background: url(../img/bike-logo3.png) center center no-repeat;
	height: 100%;
	width: 100%;

}