@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

* {
	box-sizing: border-box;
	font-family: Lato;
}

body {
	margin: 0;
}

#hamburger-menu {
	display: none;
}

.desktop-content {
	transition: height 0.5s linear;
	height: 0;
}

.mobile-content {
	transition: height 0.5s linear;
	background: linear-gradient(#F4F5FA, #F2F4F9); 
	height: 300px;
}

.none {
	opacity: 0;
	transition: opacity 0.1s linear;
}

.block {
	opacity: 1.0;
	transition: opacity 0.8s linear;
}

.text {
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 35px;
}

header {
	background: url(../img/hero.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
}

nav {
	position: absolute;
	top: 0px;
	text-align: center;
	padding-top: 20px;
}

nav ul li {
	display: inline-block;
	font-family: Lato;
	font-weight: 400;
	font-size: 15px;
	padding-right: 35px;
	letter-spacing: 2px;
}

nav ul li a {
	text-decoration: none;
	color: #4d4959;
}

nav ul li a:hover {
	color: #64c29e;
	transition: ease-in-out .3s;
}

.padding-reset {
	padding: 0;
}

.relative {
	position: relative;
}

.thin {
	font-weight: 300;
}

.left {
	position: absolute;
	top: 30px;
	right: 0;
}

.right {
	position: absolute;
	top: 30px;
	left: 0;
}

#aboutus {
	background: #f7f7f7;
	height: 470px;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
}

#aboutus h1 {
	font-weight: 600;
}

#aboutus p {
	color: #848789;
}

#work {
	overflow: hidden;
}

#work-text h2 {
	font-size: 18px;
}

#work-text p {
	color: #848789;
	text-align: justify;
	font-weight: 300;
}

.work-bike-1 {
	background: url(../img/work-bike1.jpg) center center no-repeat;
}

.work-bike-2 {
	background:  url(../img/work-bike2.jpg) center center no-repeat;
}

.work-bike-3 {
	background: url(../img/work-bike3.jpg) center center no-repeat;
}

.work-bike-4 {
	background: url(../img/work-bike4.jpg) center center no-repeat;
}

.work-bike-5 {
	background: url(../img/work-bike5.jpg) center center no-repeat;
}

.work-bike-6 {
	background: url(../img/work-bike6.jpg) center center no-repeat;
}

.work-bike-7 {
	background: url(../img/work-bike7.jpg) center center no-repeat;
}

.general-bike {
	background-size: cover;
	height: 600px;
}

.general-bike-2 {
	position: relative;
	display: flex;
	background-size: cover;
	height: 200px;
	justify-content: center;
}

.arrow {
	position: absolute;
	top: -7px;
}

.bike-logo {
	background: url(../img/bike-logo.png) center center no-repeat;
	opacity: 0;
}

.bike-logo2 {
	background: url(../img/bike-logo2.png) center center no-repeat;
	opacity: 0;
}

.bike-logo3 {
	background: url(../img/bike-logo3.png) center center no-repeat;
	opacity: 0;
}

.bike-logo-general {
	height: 100%;
	width: 100%;
}

.slider {
	height: 470px;
	background: #f7f7f7;
	overflow: hidden;
}

.slider .fa-twitter {
	font-size: 50px;
	color: #56c7ee;
}

.slider .fa-circle, .slider .fa-circle-thin {
	color: #a9afb3;
}

.tweet {
	margin-top: 75px;
	flex-grow: 3;
}



.first-slide, .sec-slide, .third-slide {
	display: none;
	height: 350px;
}

.hide-tweet {
	opacity: 0;
	transition: opacity 0.5s linear;
}

.show-tweet {
	opacity: 1.0;
	transition: opacity 0.5s linear;
}

.active {
	display: block;
}

.shop-bike1 {
	background: url(../img/shop-bike1.jpg) center center no-repeat;
}

.shop-bike2 {
	background: url(../img/shop-bike2.jpg) center center no-repeat;
}

.shop-bike3 {
	background: url(../img/shop-bike3.jpg) center center no-repeat;
}

.shop-bike4 {
	background: url(../img/shop-bike4.jpg) center center no-repeat;
}

.shop-bike5 {
	background: url(../img/shop-bike5.jpg) center center no-repeat;
}

.shop-bike6 {
	background: url(../img/shop-bike6.jpg) center center no-repeat;
}

.shop-bike7 {
	background: url(../img/shop-bike7.jpg) center center no-repeat;
}

.shop-bike8 {
	background: url(../img/shop-bike8.jpg) center center no-repeat;
}

.shop-bike-general {
	background-size: cover;
	height: 267px;
	position: relative;
}

.shop-bike-general-2 {
	background-size: cover;
	height: 534px;
	position: relative;
}

.shop-now {
	height: 100%;
	width: 100%;
	font-size: 20px;
	background: none;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shop-now:hover {
	background:rgba(100,194,158,0.8);
	cursor: pointer;
}

.image-shop-now {
	display: none;
	height: 54px;
	width: 98px;
}

.shop-now:hover .image-shop-now {
	display: block;
}

.black-bar {
	background: #282f35;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #ffffff;
	height: 470px;
	text-align: center;
}

#contact h2 {
	font-weight: 300;
	font-style: italic;
	color: #848789;
}

.shop-button {
	width: 300px;
	height: 50px;
	background: none;
	border: 1px solid #94979a;
	font-family: Lato;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
}

.shop-button:hover {
	color: #64c29e;
	transition: ease-in-out .3s;
	border-color: #64c29e;
}

.email-input {
	width: 400px;
	height: 70px;
	padding: 25px;
	color: #d3d7d9;
	border: 1px #d3d7d9 solid;
	margin-right: 2px;
}

.go-button {
	background: #64c29e;
	width: 125px;
	height: 70px;
	border: none;
	color: #ffffff;
	font-size: 24px;
	font-weight: 300;
	cursor: pointer;
	margin-left: 2px;
}

.newsletter {
	display: flex;
}

footer {
	background: #f7f7f7;
	height: 250px;
}

.footer-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 250px;
}

.first-adress {
	color: #848789;
	font-size: 16px;
	margin: 0;
	text-align: justify;
}

.sec-adress {
	color: #848789;
	font-size: 14px;
	margin: 0;
	text-align: justify;
	font-weight: 300;
}

.right-footer {
	text-align: right;
	color: #848789;
	line-height: 28px;
}

.icon-btn {
	margin:5px;
	font-size: 25px;
	line-height: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 0;
	background:#FFFFFF;
	color: #FFFFFF;
	border-radius: 100%;
	transition: ease-in-out .3s;
}

.icon-btn:hover {
	transform: scale(1.20);
}

.twitter {
	background: #4099FF;
}

.facebook {
	background: #3B5998;
}

.pinrest {
	background: #eb5755;
}

.yebo {
	height: 36px;
	width: 56px;
	float: right;
	margin-left: 12px;
}

@media (max-width: 899px) {
	header {
		height: 685px;
	}

	nav {
		position: static;
		background: url(../img/nav-bck.jpg);
		width: 100%;
		background-size: cover;
		background-position: center;
	}

	nav ul li {
		display: list-item;
		list-style-type: none;
		text-align: center;
		margin-bottom: 50px;
	}

	.menu {
		display: none;
	}

	.mobile-menu {
		display: flex;
		margin: 0 25px;
	}

	#hamburger-menu {
		display: block;
		font-size: 28px;
		cursor: pointer;
		text-align: right;
	}

	footer {
		height: auto;
	}

	.footer-flex {
		display: flex;
		flex-direction: row;
		height: auto;
		margin: 5px 0;
	}

	.footer-flex:first-of-type {
		margin-top: 50px;
	}

	.first-adress, .sec-adress {
		text-align: center;
	}

	.sec-adress {
		margin-top: 5px;
	}
}


@media (max-width: 600px) {
	.newsletter {
		flex-direction: column;
	}
	.go-button {
		align-self: center;
		margin-top: 20px;
	}	
}

@media (max-width: 450px) {
	.email-input {
		width: 280px;
	}
}

@media (min-width: 900px) {
	.block, .mobile-content {
		display: none;
	}
}